<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/my-first-servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FirstJsp</servlet-name>
        <jsp-file>/first.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstJsp</servlet-name>
        <url-pattern>/my-first-jsp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SetCookiesServlet</servlet-name>
        <servlet-class>servlets.SetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookiesServlet</servlet-name>
        <url-pattern>/set-cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetCookiesServlet</servlet-name>
        <servlet-class>servlets.GetCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCookiesServlet</servlet-name>
        <url-pattern>/get-cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <servlet-class>servlets.DeleteCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookiesServlet</servlet-name>
        <url-pattern>/delete-cookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>servlets.LibraryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>
</web-app>